.div {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}
.iframe{
  width: 200px;
}
body,
html {
    height: 100%;
    width: 100%;
}
body{
    display: table;
    height:100%;
    width: 100%;
    padding-left: 100px;
    padding-bottom: 100px;
}

.lower {
    height: 100px;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}


  
  
  


  
  
  