<html lang="th" ng-app="videoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="child-src *;">
    <title>Video Player</title>
</head>
<body ng-controller="VideoController" ng-init="init()">
    <div>
        <br><br>
        <h2>BNK 48 Search Result</h2>
        <div class="form-group">
            <iframe title="Inline Frame Example" ng-repeat="code in data_array" src="{{code}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
<script src="https://unpkg.com/videogular@2.1.2/dist/videogular/videogular.js"></script>
<script src="app.js"></script>
<link rel="stylesheet" type="text/css" href="css.css">